body {
  height: 100%;
  width: 100%;
}

a {
  color: black;
}
.colorGroup {
  display: flex;
  flex-direction: column;
  padding-bottom: auto;
}

.colorGroup label {
  width: 100px;
}

.inputGroup {
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
}

.inputGroup label {
  margin-right: 20px;
  text-align: center;
}

.inputGroup input[type='text'] {
  text-align: center;
  width: 45px;
  margin-right: 20px;
  border: 2px solid #000;
  border-radius: 0.3em;
  padding: 3px;
}

.inputGroup input[type='range'] {
  flex-grow: 1;
}

.nav {
  background-color: #1f1f1f;
  height: 30px;
  border-bottom: solid 1px black;
}
.nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.nav ul a {
  color: white;
  opacity: 0.7;
}
.nav ul a:hover {
  opacity: 1;
  text-decoration: none;
}
.colorContainer {
  display: flex;
  flex-wrap: wrap;
}

.colorDiv {
  display: flex;
  padding: 10px;
  border: solid 2px;
  margin: 5px;
}
.colorDiv > p {
  margin-top: auto;
}
.colorBlock {
  border-radius: 30%;
  border: solid 2px black;
  width: 50px;
  height: 50px;
}

.searchBar {
  margin-bottom: 30px;
}

@media screen and (max-width: 750px) {
  .colorBlock {
    border-radius: 0%;
    border: solid 2px black;
    height: 50px;
    width: 100%;
    margin-bottom: 15px;
  }
}
